// ---------------------------------------------------------------------------
//
//    File created programmatically
//
//    The definitions are in the "qdarkstyle.palette" module
//
//    WARNING! All changes made in this file will be lost!
//
//----------------------------------------------------------------------------
$COLOR_BACKGROUND_LIGHT: #314147;
$COLOR_BACKGROUND_NORMAL: #3B4950;
$COLOR_BACKGROUND_DARK: #263238;
$COLOR_FOREGROUND_LIGHT: #C4D6DB;
$COLOR_FOREGROUND_NORMAL: #56BFBA;
$COLOR_FOREGROUND_DARK: #56BFBA;
$COLOR_SELECTION_LIGHT: #097D74;
$COLOR_SELECTION_NORMAL: #136460;
$COLOR_SELECTION_DARK: #1B2529;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_LIGHT: 1px solid $COLOR_BACKGROUND_LIGHT;
$BORDER_NORMAL: 1px solid $COLOR_BACKGROUND_NORMAL;
$BORDER_DARK: 1px solid $COLOR_BACKGROUND_DARK;
$BORDER_SELECTION_LIGHT: 1px solid $COLOR_SELECTION_LIGHT;
$BORDER_SELECTION_NORMAL: 1px solid $COLOR_SELECTION_NORMAL;
$BORDER_SELECTION_DARK: 1px solid $COLOR_SELECTION_DARK;
$W_STATUS_BAR_BACKGROUND_COLOR: #1B2529;
$PATH_RESOURCES: ':/qss_icons';
