// ---------------------------------------------------------------------------
//
//    File created programmatically
//
//    The definitions are in the "qdarkstyle.palette" module
//
//    WARNING! All changes made in this file will be lost!
//
//----------------------------------------------------------------------------
$COLOR_BACKGROUND_LIGHT: #F0F0F0;
$COLOR_BACKGROUND_NORMAL: #D1D1D1;
$COLOR_BACKGROUND_DARK: #DDDDDD;
$COLOR_FOREGROUND_LIGHT: #000000;
$COLOR_FOREGROUND_NORMAL: #d2d5d9;
$COLOR_FOREGROUND_DARK: #d2d5d9;
$COLOR_SELECTION_LIGHT: #ffbb54;
$COLOR_SELECTION_NORMAL: #F9AA33;
$COLOR_SELECTION_DARK: #fa9e14;
$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$BORDER_LIGHT: 1px solid $COLOR_BACKGROUND_LIGHT;
$BORDER_NORMAL: 1px solid $COLOR_BACKGROUND_NORMAL;
$BORDER_DARK: 1px solid $COLOR_BACKGROUND_DARK;
$BORDER_SELECTION_LIGHT: 1px solid $COLOR_SELECTION_LIGHT;
$BORDER_SELECTION_NORMAL: 1px solid $COLOR_SELECTION_NORMAL;
$BORDER_SELECTION_DARK: 1px solid $COLOR_SELECTION_DARK;
$W_STATUS_BAR_BACKGROUND_COLOR: #fa9e14;
$PATH_RESOURCES: ':/qss_icons';
